body {
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 28px;
  padding-left: 0;
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

/************************            TOP CONTAINER           ***************************************************************************************************/
.container-fluid {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100vh;
  background-color: #ddd;
}

.top {
  background: url(../img/boat.jpg)no-repeat top left fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .title {
  text-align: center;
  color: #fff;
  z-index: 4;
}

.top .overlay {
  background: #5eb7b7;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 2;
}

.top h1 {
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.top p {
  font-size: 28px;
}

/************************       NAv BAR        ***************************************************************************************************/
.nav {
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 3%;
  top: 15%;
  width: 100px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 15px;
}

.nav li a {
  display: block;
  color: #fff;
  background-color: #000;
  padding-top: 30px;
  text-decoration: none;
  height: 80px;
  font-size: 16px;
  font-weight: 300;
  scroll-behavior: smooth;
}

.nav a:hover, .nav a:focus {
  color: #22A39F;
}

.nav-link.active, .nav-link.active:hover, .nav-link.active:focus {
  color: #fff;
  background-color: #22A39F;
}

/************************   COMMON CSS FOR OTHER CONTAINERS         ***************************************************************************************************/
.container {
  padding: 50px 180px;
}

.bg-pink {
  background-color: #ffddcc;
  padding-bottom: 20px;
}

.bg-pink h2, .bg-pink h3 {
  color: #22A39F;
}

.bg-green {
  background-color: #96d1c7;
  padding-bottom: 20px;
}

.bg-green h2, .bg-green h3 {
  color: #a34a28;
}

.heading {
  text-align: center;
  border-bottom: 1px solid #F8F8F8;
  padding-bottom: 25px;
}

.heading h2 {
  font-size: 45px;
  padding-bottom: 20px;
}

.heading p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
  color: #727878;
}

.row p {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  color: #434242;
}

.image {
  padding-right: 50px;
}

/************************    PROFILE         ***************************************************/
#profile .row {
  margin: 0 auto;
  margin-top: 50px;
  text-align: justify;
  max-width: 700px;
}

#profile img {
  width: 100%;
  max-width: 500px;
  border-radius: 25%;
  vertical-align: middle;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
  float: right;
}

/************************       ABILITIES       ***************************************************/
#abilities .row ul {
  list-style-type: none;
  padding: 0;
}

#abilities .row li {
  min-height: 30px;
  padding: 3px 0;
}

.ability-title {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  color: #434242;
  display: inline-block;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#abilities .ability-score {
  float: right;
}

#abilities .ability-score .glyphicon {
  color: #b2fcff;
  opacity: 0.5;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#abilities .ability-score .glyphicon.filled {
  opacity: 1;
  color: #137C6A;
}

#abilities li:hover .ability-score .glyphicon {
  margin-left: 2px;
}

#abilities li:hover .ability-title {
  margin-left: 12px;
}

#abilities li:hover {
  background-color: #b2fcff;
}

/************************    EXPERIENCES         ***************************************************/
#experiences .row {
  margin-bottom: 20px;
}

#experiences h4 {
  color: #443737;
}

#experiences .role {
  display: inline-block;
  margin-bottom: 15px;
}

#experiences .row p {
  font-size: 15 px;
}

.exp-hr {
  margin: 0 20 0 0;
}

/************************    CONTACT         ***************************************************/
.footer {
  height: 100vh;
  background-color: #434242;
  /*text-align: center;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h2 {
  color: #ccc;
}

.social-links {
  list-style-type: none;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}
.social-links li{
  /*padding-left: 65px;*/
  padding: 0;
  margin-bottom: 25px;
}

.social-links .left{
  width: 50%;
  float: left;
}
.social-links .right{
  width: 50%;
  float: right;
}

.social-links .right a{
  float: right;
}

.social-links a {
  color: #fff;
  font-size: 15px; 
  text-decoration: none;
  opacity: 0.6;
}

.social-links a:hover, .social-links a:focus{
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
.social-links a span{
  margin-left: 10px;
}

/************************       Media QUERIES       ***************************************************/
@media only screen and (max-width:992px) {
  .container {
    padding: 80px 50px;
  }

  .nav {
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav ul {
    overflow: hidden;
    border-radius: 0;
  }

  .nav li {
    float: left;
    width: 25%;
  }

  .nav li a {
    width: 100%;
    height: 65px;
    padding-top: 20px;
    border-right: 1px solid #ccc;
  }

  .social-links{
    width: 50%;
  }

  .social-links .left, .social-links .right{
    width: 100%;
    float:none;
    padding-left: 30%;
  }

  .social-links .right a{
    float:none;
  }
}

  @media (max-width: 767px) {
    h2 {
      font-size: 35px;
    }

    .nav li a {
      font-size: 14px;
    }

    .top {
      background: url(../img/profile.jpg)no-repeat center center fixed;
      background-size: cover;
    }

    .top .overlay {
      opacity: 0.7;
    }

    .container {
      min-width: 280px;
      min-width: 100%;
    }

    .image {
      display: none;
    }

    .row {
      margin-top: 20px;
    }
  }
